<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
    <link href='css/bootstrap-social.css' rel='stylesheet'>
    <style>
      .aa {
          display: flex;
          justify-content: space-around;
      }
      body { 
          padding-top: 70px; 
      }
      nav {
          color: blue;
      }
    </style>
  </head>
  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button aria-expanded='false' class='navbar-toggle collapsed' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='#'>HENRY WILLIAMS</a>
          <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'></ul>
          <ul class='nav navbar-nav navbar-right'>
            <li class='active'>
              <a class='scrollable' href='#about'>ABOUT</a>
              <span class='sr-only'>(current)</span>
            </li>
            <li>
              <a class='scrollable' href='#portfolio'>PORTFOLIO</a>
            </li>
            <li>
              <a class='scrollable' href='#contact'>NAVIGATION</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <a id='about' name='home'></a>
    <div class='row'>
      <div class='col-lg-2 col-md-2 col-sm-1 col-xs-1'></div>
      <div class='col-lg-8 col-md-8 col-sm-10 col-xs-10'>
        <div class='text-center'>
          <h1 id="henry-williams"><strong>Henry Williams</strong></h1>
          <h3>High school junior | Programmer | Debater | Interested in Education Technology</h2>
          <p>High school junior at the Masters School where I’ve been involved in Mathematical Modeling (HiMCM), Computer Science, Debate, VEX Robotics, Model UN, and Science Research.

          I’ve worked as a Software Engineering Intern at AppNexus and BirchBox, and as a Research Intern and Albert Einstein College of medicine, doing computational biology research.

          I’m interested in education technology and getting young people involved in politics. I serve as the CEO and Co-Founder of the <a href='http://youthprogresspac.com/'>Youth Progress PAC.</a></p>
        </div>
      </div>
      <div class='col-lg-2 col-md-2 col-sm-1 col-xs-1'></div>
    </div>
    <a id='portfolio' name='portfolio'></a>
    <footer class='footer'>
      <p class='text-center'>
        <a href='mailto:henry@henrywilliams.me'>&copy; Henry Williams</a>
      </p>
      <p class='text-center'>
        <a class='btn btn-social-icon btn-twitter' href='https://twitter.com/humford'>
          <span class='fa fa-twitter'></span>
        </a>
        <a class='btn btn-social-icon btn-linkedin' href='https://www.linkedin.com/in/henwilliams'>
          <span class='fa fa-linkedin'></span>
        </a>
        <a class='btn btn-social-icon btn-github' href='https://github.com/humford/'>
          <span class='fa fa-github'></span>
        </a>
        <a class='btn btn-social-icon btn-facebook' href='https://www.facebook.com/humford'>
          <span class='fa fa-facebook'></span>
        </a>
      </p>
    </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
  </body>
</html>
